* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0px 20px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #F9FAFF;
}

nav {
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0px 0px 10px 5px #e6e6e6;
}
nav .nav {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
  height: 70px;
  background-color: #F9FAFF;
}
nav .nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav .nav ul li {
  list-style-type: none;
}
nav .nav ul li a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}
nav .nav ul li a:hover {
  color: #F35F2F;
}
nav .nav button {
  all: unset;
  border-bottom: 1px solid black;
  cursor: pointer;
  padding-bottom: 7px;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  color: #fff;
  font-size: 30px;
}

header h1 {
  font-size: 68px;
  font-weight: 700;
  line-height: 86.4px;
  width: 959px;
  margin-bottom: 20px;
}
header .our {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
header .our p {
  width: 800px;
  margin-top: 20px;
  margin-left: -190px;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
}
header .our .line {
  margin-top: -130px;
}

.imgs .imgs1 {
  display: flex;
  gap: 30px;
}
.imgs .imgs1 img {
  width: 100%;
}
.imgs .imgs1 p {
  width: 494px;
}
.imgs .imgs1 button {
  all: unset;
  cursor: pointer;
  background-color: #1D1E25;
  color: #fff;
  padding: 15px 30px;
  border-radius: 100px;
  cursor: pointer;
  border: 1px solid #1D1E25;
}
.imgs .imgs1 button:hover {
  background-color: #fff;
  color: #1D1E25;
}
.imgs .imgs1 .p1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}
.imgs .imgs1 .p2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.text {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 150px;
}
.text .p1 {
  width: 480px;
  font-size: 50px;
  font-weight: 600;
  line-height: 67.2px;
}
.text .p2 {
  width: 520px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.cards .rasm {
  display: flex;
  justify-content: space-between;
}
.cards .rasm img {
  width: 100%;
}
.cards .rasm .b {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.cards .rasm .f {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #7E8492;
}
.cards .meet {
  width: 900px;
  font-size: 56px;
  font-weight: 600;
  line-height: 67.2px;
  margin-bottom: 20px;
}
.cards .to {
  width: 540px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 40px;
}
.cards .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding-bottom: 100px;
  gap: 40px;
}
.cards .bottom div {
  width: 50%;
}
.cards .bottom div h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 67.2px;
}
.cards .bottom div p {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #7E8492;
}
.cards .bottom div .see {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #1D1E25;
  margin-top: 20px;
}

footer {
  background-color: #1D1E25;
  color: #fff;
}
footer .futer {
  padding: 30px;
}
footer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .top button {
  all: unset;
  cursor: pointer;
  background-color: #fff;
  color: #1D1E25;
  padding: 5px 30px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #fff;
  transition: 0.2s;
  height: 40px;
}
footer .top button:hover {
  background-color: #1D1E25;
  color: #fff;
}
footer .top h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 76.8px;
}
footer .top .ppp {
  width: 543px;
  color: #7E8492;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}
footer .bottom .futerr {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
footer .bottom .futerr .f {
  width: 146px;
}
footer .bottom .futerr .f1 {
  width: 292px;
}
footer .bottom .futerr p {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  color: #7E8492;
}
footer .bottom .futerr p:hover {
  color: #5C616F;
}
footer .bottom .futerr h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
footer .bb {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
footer .bb p:hover {
  color: #7E8492;
  cursor: pointer;
}
footer .bb .bb2 {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
footer .bb .bb3 {
  display: flex;
  gap: 20px;
}
footer .bb .bb4 {
  display: flex;
  gap: 20px;
}
footer .bb .bb4 i:hover {
  color: #7E8492;
}

@media (max-width: 1000px) {
  footer .bb {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  footer .bb .bb2 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  footer .bb .bb2 .bb3 {
    width: 100%;
    justify-content: center;
  }
  footer .bb .bb2 .bb4 {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 1270px) {
  header .our .line {
    display: none;
  }
  header .our p {
    margin-left: 0px;
  }
}
@media (max-width: 1200px) {
  .cards .rasm {
    flex-direction: column;
    width: 50%;
    margin: auto;
  }
}
@media (max-width: 1170px) {
  .imgs .imgs1 p {
    width: 400px;
  }
}
@media (max-width: 1050px) {
  .text {
    flex-direction: column;
  }
  .text p {
    justify-content: center;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  header .our p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  header h1 {
    width: 100%;
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 1020px) {
  .cards .meet {
    width: 100%;
    font-size: 35px;
    line-height: 30px;
  }
}
@media (max-width: 1016px) {
  header .our p {
    width: 100%;
  }
}
@media (max-width: 978px) {
  .imgs .imgs1 p {
    width: 350px;
  }
  .cards .bottom {
    flex-direction: column;
    text-align: center;
  }
  .cards .bottom div {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 858px) {
  .imgs .imgs1 {
    flex-direction: column;
    width: 50%;
    margin: auto;
  }
  .imgs .imgs1 p {
    width: 300px;
  }
}
@media (max-width: 780px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: #1D1E25;
    color: white;
    gap: 0;
    overflow: hidden;
  }
  nav ul li {
    padding: 20px;
    padding-top: 0;
    padding-top: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  nav button {
    color: white;
    padding-bottom: 10px;
  }
  nav .menu-icon {
    display: block;
  }
  nav .menu-icon i {
    color: #000;
  }
  nav #menuList {
    transition: all 0.5s;
  }
  nav .button {
    display: none;
  }
  footer .top {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .cards .rasm {
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .top div .ppp {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .top div h1 {
    font-size: 30px;
  }
  .text .p1 {
    font-size: 30px;
    line-height: 25px;
    width: 100%;
  }
  .text .p2 {
    font-size: 20px;
    line-height: 25px;
    width: 100%;
    font-weight: 400;
  }
}
@media (max-width: 570px) {
  .cards .to {
    width: 100%;
    margin: auto;
  }
  .imgs .imgs1 {
    width: 90%;
    margin: auto;
  }
  .imgs .imgs1 div .p1 {
    width: 100%;
    line-height: 25px;
    text-align: center;
  }
  .imgs .imgs1 div .p2 {
    width: 100%;
    text-align: center;
  }
  header .our {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .cards .rasm {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .cards .bottom {
    flex-direction: column;
    text-align: center;
  }
  .cards .bottom div {
    width: 90%;
    margin: auto;
  }
  .cards .bottom div h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 420px) {
  .cards .rasm {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
}/*# sourceMappingURL=about.css.map */